<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CS"
        connectionString="Dsn=SIMS;dbq=MEDIA\SIMS.mdb;defaultdir:MEDIA;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin;Integrated Security=True"
        providerName="System.Data.Odbc" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>