<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Sales_and_Inventory_System.My.MySettings.SIS_DBConnectionString1"
      connectionString="Dsn=SIMS;dbq=bin\Debug\Resources\SIMS.mdb;defaultdir:bin\Debug\Resources;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin;Integrated Security=True"
      providerName="System.Data.Odbc" />
    <add name="SIMS.MySettings.ConnectionString" connectionString="Dsn=sims;dbq=C:\Users\aroberts\AppData\Roaming\Inv\SIMSmdb.mdb;defaultdir=C:\Users\aroberts\AppData\Roaming\Inv;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
      providerName="System.Data.Odbc" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>